* {
    box-sizing: border-box;
    margin: auto;
}



.header{
    width: 850px;
    background-color: cornflowerblue;
    height: 200px;
}
.profile_pic {
    width: 150px;
    height: 150px;
    position: relative;
    left: -340px;
    top: -175px;
    background-image: url(https://images-cdn.9gag.com/photo/5410403_460s.jpg);
    border-radius: 2%;
    background-size: 150px;
}




.white_box{
    height: 50px;
    background-color: white;
    width: 600px;
    top: -50px;
    padding-left: 40px;
    padding-top: 10px;
    column-count: 5;
    column-gap: 5px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightgray;
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: center;
    padding-right: 140px;
}



.Larry{
    
}



.username {
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
    position: relative;
    top: -300px;
    left: -160px;
    padding-top: 40px;
    color: white;
    font-family: sans-serif;
    padding-left: 10px;

}

.button1{
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgrey;
    font-family: sans-serif;
    height: 30px;
    width: 60px;
    position: relative;
    top: -340px;
    left: 795px;
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    border-radius: 7%;
    
}

.follow{
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgrey;
    font-family: sans-serif;
    height: 30px;
    width: 70px;
    position: relative;
    text-align: center;
    padding-top: 3px;
    top: -341px;
    left: 800px;
    font-weight: lighter;
    border-radius: 7%;
}


.message{
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgrey;
    font-family: sans-serif;
    height: 30px;
    width: 80px;
    position: relative;
    text-align: center;
    padding-top: 3px;
    top: -341px;
    left: 795px;
    font-weight: bold;
   
   
}

.dots{
    background-color: white;
    font-size: 20px;
    border: 1px solid lightgrey;
    font-family: sans-serif;
    height: 30px;
    width: 45px;
    position: relative;
    text-align: center;
    padding-top: 3px;
    top: -338px;
    left: 790px;
    font-weight: bold;
    border-radius: 7%;
}
.column1 {
    width: 328px;
    height: 600px;
    column-gap: 10px;
    border: 1px solid lightgray;
    top: -300px;
    left: -260px;
    position: relative;
    background-color: cornflowerblue;
}
.column2{
    width: 512px;
    height: 600px;
    border: 1px solid lightgray;
    position: relative;
    top: -900px;
    left: 170px;
    background-color: cornflowerblue;
}
.box1{
    width: 318px;
    height: 30%;
    background-color: white;
    top: 20px;
    position: relative;
}
.box2{
    width: 492px;
    height: 55%;
    background-color: white;
    position: relative;
    top: 20px;

}
.box3{
    border: 1px solid lightgray;
    position: relative;
    background-color: lightskyblue;
    width: 298px;
    height: 25%;
    top: 10px;
    padding-top: 10px;

}
.box3 .text{
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
}